@{
    ViewData["Title"] = "Home Page";
}

<!--<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- HOME -->
    <div id="home">
        <div class="container">
            <div class="home-wrap">
                <div id="home-slick">
                    <div class="banner banner-1">
                        <img src="~/images/banner1Test.jpg" alt="">
                        <div class="banner-caption text-center">
                            <h1> Ventes des Matériaux de construction </h1>
                        </div>
                    </div>
        
                    <div class="banner banner-1">
                        <img src="~/images/banner4Test.jpg" alt="">
                        <div class="banner-caption">
                            <h1 class="primary-color">Vous trouverez tous ce qui vous faut</h1>
                        </div>
                    </div>
                    <!-- /banner -->
                    <!-- banner -->
                    <div class="banner banner-1">
                        <img src="~/images/banner2Test.jpg" alt="">
                        <div class="banner-caption">
                            <h1 class="white-color">N'hesitez plus</h1>
                        </div>
                    </div>
                    <!-- /banner -->
                </div>
                <!-- /home slick -->
            </div>
            <!-- /home wrap -->
        </div>
        <!-- /container -->
    </div>
    <div id="nos-selections">
        <h2><span>Nos Sélections</span></h2>
        <img src="~/images/banner2Test.jpg" alt="">
    </div>

