<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ef_materiaux</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />

        <!-- Slick -->
        <link type="text/css" rel="stylesheet" href="~/css/slick.css" />
        <link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />

        <!-- nouislider -->
        <link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />

        <!-- Font Awesome Icon -->
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link href=”//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css” rel=”stylesheet”>

        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <!-- header -->
    <div id="header">
        <div class="container">
            <div class="pull-left">
                <!-- Logo -->
                <div class="header-logo">
                    <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.PNG" alt="">
                    </a>
                </div>
                <!-- /Logo -->
                <!-- Search -->
                <div class="header-search">
                    <form>
                        <input class="input search-input" type="text" placeholder="Recherchez votre produit ici">
                        <button class="search-btn" asp-area="" asp-controller="Home" asp-action="Rechercher"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- /Search -->
            </div>
    <div class="pull-right">
        <ul class="header-btns">
            <!-- Account -->
            <li class="header-account dropdown default-dropdown">
                <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                    <div class="header-btns-icon">
                        <i class="fa fa-user-o"></i>
                    </div>
                </div>
                <ul class="custom-menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="ConsulterCompte"><i class="fa fa-user-o" ></i> Mon compte</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ConsulterCommande"><i class="fa fa-list-ul"></i>Mes commandes</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="SeConnecter"><i class="fa fa-unlock-alt"></i> Se Connecter</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="SeDeconnecter"><i class="fa fa-power-off"></i> Se deconnecter</a></li>
                </ul>
            </li>
            <!-- /Account -->
            <!-- Cart -->
            <li class="header-cart dropdown default-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <div class="header-btns-icon">
                        <i class="fa fa-shopping-cart"></i>
                        <!--<span class="qty">3</span>-->
                    </div>
                    <br>
                    <!--<span>35.20$</span>-->
                </a>
                <div class="custom-menu">
                    <div id="shopping-cart">
                        <div class="shopping-cart-list">
                            <div class="product product-widget">
                                <button class="cancel-btn" asp-area="" asp-controller="Commande" asp-action="Annuler"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                        <div class="shopping-cart-btns">
                            <button class="main-btn" asp-area="" asp-controller="Commande" asp-action="ConsulterPanier">Voir mon panier</button>
                            <button class="primary-btn" asp-area="" asp-controller="Commande" asp-action="ValiderPanier">Passer ma commande <i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </div>
                </div>
            </li>
            <!-- /Cart -->
            <!-- Mobile nav toggle-->
            <li class="nav-toggle">
                <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
            </li>
            <!-- / Mobile nav toggle -->
        </ul>
    </div>
    </div>
    <!-- header -->
    </div>
</head>
<body>
    <!-- NAVIGATION -->
    <div id="navigation">
        <!-- container -->
        <div class="container">
            <div id="responsive-nav">

                <div class="category-nav">
                    <span class="category-header">
                        Tous nos rayons <i class="fa fa-list"></i>
                    </span>
                    <ul class="category-list">
                        <li class="dropdown side-dropdown">
                            <a asp-area="" asp-controller="Produit" asp-action="ConsulterRobineries">Robineries</a>
                        </li>
                        <li><a asp-area="" asp-controller="Produit" asp-action="ConsulterPlomberie">Plomberie</a></li>
                        <li><a asp-area="" asp-controller="Produit" asp-action="ConsulterMaconnerie">Maçonnerie</a></li>
                        <li><a asp-area="" asp-controller="Produit" asp-action="Consulter">Voir tout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!-- FOOTER -->
        <footer id="footer" class="section section-grey">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- footer widget -->
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="footer">
                            <h3>En savoir plus :<br /></h3>
                            <a asp-area="" asp-controller="Home" asp-action="Description"><p>Conditions générales<br /></p></a>
                            <a asp-area="" asp-controller="Home" asp-action="Description"><p>Qui sommes nous ?<br /></p></a>
                            <a asp-area="" asp-controller="Home" asp-action="Description"><p>Plan du site<br /></p></a>
                        </div>
                    </div>
                    <!-- footer widget -->
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="footer">
                            <h3>Contactez Nous:<br /></h3>
                            <a asp-area="" asp-controller="Home" asp-action="Description"><p>Fabricants &amp; Distributeurs<br /></p></a>
                            <a asp-area="" asp-controller="Home" asp-action="Description"><p>Autres contacts<br /></p></a>
                        </div>
                    </div>
                    <!-- footer widget -->
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="footer">
                            <h3>Confiance &amp;Sécurité :<br /></h3>
                            <a href="#"><p>Paiement sécurisé<br /></p></a>
                            <a href="#"><p>Tout savoir sur nos livraisons<br /></p></a>
                            <a href="#"><p>Suivi de votre commande<br /></p></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="footer">
                            <!-- footer logo -->
                            <div class="footer-logo">
                                <a class="logo" href="#">
                                    <img src="~/images/logo.PNG" alt="">
                                </a>
                            </div>
                            <!-- /footer logo -->
                            <!-- footer social -->
                            <ul class="footer-social">
                                <li><i class="fa fa-instagram"></i></li>
                                <li><i class="fa fa-twitter"></i></li>
                                <li><i class="fa fa-instagram"></i></li>
                                <li><i class="fa fa-google-plus"></i></li>
                                <li><i class="fa fa-pinterest"></i></li>
                            </ul>
                            <!-- /footer social -->
                        </div>
                    </div>
                    <!-- /footer widget -->

                    <div class="clearfix visible-sm visible-xs"></div>
                </div>
                <!-- /row -->
                <hr>
                <!-- row -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <!-- footer copyright -->
                        <div class="footer-copyright">
                            Copyright &copy; EF-Materiaux
                            <script>document.write(new Date().getFullYear());</script>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/slick.min.js"></script>
        <script src="~/js/nouislider.min.js"></script>
        <script src="~/js/jquery.zoom.min.js"></script>
        <script src="~/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
